$maxMobile : 767px;
$maxSmall:991px;

$minSmall : 768px;
$minMedium:992px;

$minLarge : 1200px;


$redColor:#e2494c;
$gryColor:#9c9c9c;

$float-left:left;
$float-right:right;
$text-right:right;
$text-left:left;